@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Mochiy+Pop+P+One&display=swap');



.LandingPage {
    text-align: center;
    background-image: url("https://images.unsplash.com/photo-1513026705753-bc3fffca8bf4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    width: 100%;
    height: 1000px;
    background-size: cover;
  }
  

  .landingTitle {
    color: white;
padding-top: 300px;  
font-family: 'Mochiy Pop P One', sans-serif;
font-size:50px

  }

  .card-title {
    color: white;
font-family: 'Mochiy Pop P One', sans-serif;
font-size:25px

  }


  .card-title1 {
    color: white;
font-family: 'Mochiy Pop P One', sans-serif;
font-size:25px;
width: 100%;

  }

  .card-description {
    color: white;
font-family: 'Mochiy Pop P One', sans-serif;
font-size:25px;
display: none;

  }

  .card-title:hover + .card-description {
    display: block;
  }
  .landingTitle2 {
    color: white;
padding-top: 300px;  
font-family: 'Mochiy Pop P One', sans-serif;
font-size:20px;
padding-left: 20px;


  }

  .perPerson {
    color: white;
font-family: 'Mochiy Pop P One', sans-serif;
font-size:30px

  }

  .perPerson2 {
    color: white;
font-family: 'Mochiy Pop P One', sans-serif;
font-size:30px;
padding-left:60px

  }
  .landingSubText { 
    color : white;
    font-family: 'Mochiy Pop P One', sans-serif;
    margin-top: -40px;
  }

  
  .total { 
    color : white;
    font-family: 'Mochiy Pop P One', sans-serif;
  padding-left: 120px;

  }

  .ratings-title{
    display: flex;
    justify-content: space-between;

  }

  .rating {
    font-family: 'Mochiy Pop P One', sans-serif;
  }

  .card-location { 
    color : white;
    font-family: 'Mochiy Pop P One', sans-serif;
  
  }

  .landingSubText2 { 
    color : white;
    font-family: 'Mochiy Pop P One', sans-serif;
    padding-left: 100px;

  }

  .buttonText { 
    color : white;
    font-family: 'Mochiy Pop P One', sans-serif;


  }
  
  .buttonText2 { 
    color : white;
    font-family: 'Mochiy Pop P One', sans-serif;
font-size: 10px;


  }
  .budget {
    color : white;


  }

  .background {

    background-image: url("https://images.unsplash.com/photo-1513026705753-bc3fffca8bf4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");

  }
  .container {
    padding-top: 100px;
    padding-left:250px
  
  }

.Slider {
padding-left: 590px;
  }


  .Slider2 {
    padding-left: 60px;
      }

  @import 'https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900';

html {
	overflow-x: hidden;
}

body {
	background: #221f1f;
	color: #ffffff;
	font-family: "Lato", sans-serif;
}

h2, .TitleList .Title {
	font-size: 24px;
	font-weight: 600;
	line-height: 1.4;
	margin-bottom: 1em;

  
}

.innerContainer{
}

p {
	font-size: 15px;
	font-weight: 300;
	line-height: 1.6;
	margin-bottom: 1em;
}

.header {
	/* FF3.6-15 */
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a6000000", endColorstr="#00000000", GradientType=0);
	/* IE6-9 */
	display: flex;
	padding: 40px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	box-sizing: border-box;
	z-index: 5;
}

.logo {
	width: 320px;
	height: auto;
	margin-right: 10px;
	transition: margin 0.125s ease;
}

@media only screen and (max-width: 600px) {
	.logo {
		width: 150px;
	}
}



.logo {
	transform: scale(0.5);
	transform-origin: 0 0;
}

.logo svg path {
	fill: #FF5A5F;
	transition: fill 0.125s ease;
}

.logo:hover {
	cursor: pointer;
	margin-top: 2px;
}

.logo:hover svg path {
	fill: #ffffff !important;
}

.navigation ul {
	display: flex;
	height: 37px;
	align-items: center;
	padding: 0 10px;

  margin-left: 600px;


}

.navigation ul li {
	font-weight: 400;
	padding: 7px 10px;
	font-size: 14px;
	transition: background 0.125s ease;
	border-radius: 3px;
	white-space: nowrap;
  margin-left: auto;

}

.navigation ul li:hover {
	background: #FF5A5F;
	cursor: pointer;
  margin-left: auto;
  height: 40px;
  

}


ul {
  list-style: none;
  margin-left: 1000px;
 }

.user-profile {
	margin-left: auto;
}

@media only screen and (max-width: 600px) {
	.user-profile {
		display: none;
	}
}


.user-profile .user {
	display: flex;
}

.user-profile .user .image {
	border-radius: 44px;
	margin-left: 10px;
	overflow: hidden;
	width: 44px;
	height: 44px;
	box-sizing: border-box;
	border: 3px solid transparent;
	transition: border 0.125s ease;
}

.user-profile .user .image img {
	width: 100%;
	display: block;
}

.user-profile .user .name {
	align-items: center;
	display: flex;
	font-size: 18px;
	font-weight: 300;
	height: 44px;
}

.user-profile .user:hover {
	cursor: pointer;
}

.user-profile .user:hover .image {
	border: 3px solid #e50914;
}

.hero {
	width: 100%;
	position: relative;
	background-size: cover;
	min-height: 600px;
}

.hero .content {
	position: relative;
	z-index: 4;
	width: 500px;
	left: 10vw;
	top: 10vw;
}

@media only screen and (max-width: 600px) {
	.hero .content {
		top: 36vw;
	}
}

.hero .content .logo {
	max-width: 400px;
	display: block;
	position: relative;
	left: -5px;
}

.hero .content p {
	width: 100%;
}

.hero .content .button-wrapper {
	display: flex;
	width: 400px;
	margin-top: 30px;
}

.hero .content .button-wrapper .button-el:first-child {
	margin-right: 10px;
}

.hero .overlay {
	height: 100%;
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	width: 100%;
}



.button-el {
	background: transparent;
	display: flex;
	height: 44px;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: #ffffff;
	padding: 20px;
	box-sizing: border-box;
	border: 2px solid rgba(245, 245, 241, 0.2);
	border-radius: 44px;
	font-size: 14px;
	font-weight: 600;
}

.button-el:hover {
	border: 2px solid #f5f5f1;
}

.button-el[data-primary=true] {
	border: 2px solid #e50914;
}

.button-el[data-primary=true]:hover {
	background: #e50914;
}


.card-img {

  height: 400px;
  width: 140%;
  filter: brightness(0.4);

}

.card-img:hover {

  height: 400px;
  width: 140%;
  filter: brightness(0.9);

}

.card-img1 {

  height: 100%;
  width:100%;
  
}






.card-text2 {
  
  display: none;

}


.card-title:hover + .card-text {
  display: block;
  color: red;
}



.button {
  background-color: #FF5A5F;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px

}

.button2 {
  background-color: #FF5A5F;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
  margin-left:120px;

}

.sidenav {
  height: 100%;
  width: 400px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: url("https://images.unsplash.com/photo-1448906654166-444d494666b3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  overflow-x: hidden;
  padding-top: 20px;
}